# Database Configuration
DB_HOST=localhost
DB_NAME=monexamen
DB_USER=jenos
DB_PASSWORD=Api@12345

# Flask Configuration
SECRET_KEY=super-secret-key-pour-monexamen-jwt
FLASK_ENV=production

# Server Configuration
PORT=80
